.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DEE2E6;
  padding-bottom: 40px;

}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 40px;
}
